pages:
  image: python:3.12
  stage: deploy
  before_script:
    - pip install poetry
    - poetry install
  script:
    - cd docs
    - poetry run make html
    - mkdir -p ../public
    - cp -r build/html/* ../public
  artifacts:
    paths:
      - public
  only:
    - main